{% extends "blog/base.html" %}
{% block content-main %}
<table class="table table-striped">
    <thead>
        <th scope="col">State</th>
        <th scope="col">date_posted</th>
        <th scope="col">dcn_number</th>
        <th scope="col">description_of_change</th>
    </thead>
    {% for post in posts %}
    <tr>
        <td>{{ post.state }}</td>
        <td>{{ post.date_posted|date:"F d, Y" }}</td>
        <td>{{ post.dcn_number }}</td>
        <td>{{ post.description_of_change }}</td>
    </tr>
    {% endfor %}
</table>

{% if is_paginated %}

{% if page_obj.has_previous %}
<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
{% endif %}

{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}
<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
{% endif %}
{% endfor %}

{% if page_obj.has_next %}
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
{% endif %}

{% endif %}
{% endblock content-main %}